doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    title Yougle Map
    link(rel="stylesheet", href="bower_components/bootstrap/dist/css/bootstrap.min.css")
    link(rel='stylesheet', href='styles.css')
  body
    div.container
      h1 Yougle Maps
      h4 Discover and save cool places that other people should know about!
      h5 See saved locations within a five-mile radius of your current location. Be sure to allow location services for the app to work.
      h6 Please be considerate of the privacy of others; don't place markers on private residences.
      h6 Your current location: 
      img(src="https://mt.google.com/vt/icon?psize=20&font=fonts/Roboto-Regular.ttf&color=ff330000&name=icons/spotlight/spotlight-waypoint-blue.png&ax=44&ay=48&scale=1&text=%E2%80%A2")
      hr
      button.recenter Recenter
      br
      br  
      label(for='address') Location: choose somewhere specific, like a certain address, not general, like an entire city.
      br
      input.addressInput(type='text')
      button.find Find it!
      br
      br

      div.locationNameForm
        label(for='locationNameInput') Name and save this location: be descriptive but brief. 
        br
        input.locationNameInput(type='text')
        button.saveLocation Save it!
      hr

    #map
    
    script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyCacoNA7dEzPT5P9B4W08Yvuieft3j6FwE')
    script(src="https://cdn.jsdelivr.net/rsvp/3.0.6/rsvp.min.js")
    script(src="https://cdn.firebase.com/js/client/2.2.5/firebase.js")
    script(src="https://cdn.firebase.com/libs/geofire/3.2.3/geofire.min.js")
    script(src='https://code.jquery.com/jquery-2.1.4.min.js')
    script(src="bower_components/bootstrap/dist/js/bootstrap.min.js")
    script(src='main.js')
